/* html{
  font-family: 'Nunito Sans' !important;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans' !important; }

#innerBody {
  min-height: 100vh; }

#welcomeJumbo, #carImg, #aboutJumbo, #ourWorkJumbo, #servicesJumbo {
  width: 100%;
  height: 80vh; }

.jumboTextWhite {
  margin-left: 27vw;
  margin: 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: white;
  background: none; }

.jumboTextBlack {
  margin-left: 27vw;
  margin: 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: black;
  background: none; }

#navbar {
  margin-bottom: 0px;
  background: white;
  border: none; }
  #navbar #logoContainer {
    display: flex;
    align-items: center;
    padding: 0px;
    color: black;
    text-shadow: none;
    height: 60px; }
    #navbar #logoContainer .logo {
      padding: 0px;
      height: 60px;
      width: 60px; }
  #navbar a {
    color: black;
    text-shadow: none;
    background: white;
    box-shadow: none; }
    #navbar a:hover, #navbar a:target, #navbar a:active {
      background-color: white !important;
      background-image: none;
      border-image: none;
      border-bottom: black 3px solid;
      color: black;
      font-weight: 1000;
      box-shadow: none;
      outline: none; }
    #navbar a:hover {
      border-bottom: none; }
  #navbar .icon-bar {
    background-color: black; }
  #navbar .navbar-toggle:focus {
    background-color: white; }

#flag {
  width: 60px;
  height: 40px; }

#lang {
  color: black;
  cursor: pointer;
  float: right;
  min-height: 40px; }

@keyframes opening-overlay {
  0% {
    opacity: 1;
    z-index: 1000; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: 1000; } }

@keyframes logo {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#initial-mount {
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation-name: opening-overlay;
  animation-duration: 5s;
  animation-timing-function: ease-in-out; }

#welcomeJumbo {
  background-image: url("components/images/docks.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  background-position: top; }

#jumbotronText {
  margin-left: 27vw;
  margin: 0px;
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: white;
  background: none; }

.textBox {
  padding: 7% 10%;
  text-align: center; }

#columns {
  min-height: 200px; }

.centered {
  text-align: center; }

#footer {
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  color: white;
  text-align: center; }

.nav-footer {
  display: block;
  opacity: 1;
  transition: all .6s ease;
  width: fit-content;
  margin: 0 auto 0 auto;
  padding: 0 1em; }
  .nav-footer:hover .nav-link-footer {
    opacity: .5;
    transform: translateY(6px);
    transition: .6s; }
  .nav-footer #designedLine {
    margin-left: 1.5em; }
  .nav-footer .nav-link-footer {
    display: inline-block;
    position: relative;
    padding: 6px 6px;
    height: 36px;
    width: 36px;
    margin: 0 3px;
    transition: .6s; }
  .nav-footer .nav-link-instagram:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: white;
    border-radius: 50%;
    transition: .6s; }
    .nav-footer .nav-link-instagram:hover .hover-link {
      opacity: 1; }
    .nav-footer .nav-link-instagram:hover .default-link {
      opacity: 0; }
  .nav-footer .nav-link-instagram .default-link {
    position: absolute;
    top: 6px;
    left: 6px; }
  .nav-footer .nav-link-instagram .hover-link {
    opacity: 0;
    transition: .6s; }
  .nav-footer .nav-link-linkedin:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: #0079B3;
    border-radius: 50%;
    transition: .6s; }
  .nav-footer .nav-link-linkedin .default-link {
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0; }
  .nav-footer .nav-link-linkedin .hover-link {
    opacity: 1;
    transition: .6s; }
  .nav-footer .nav-link-mail:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: maroon;
    border-radius: 50%;
    transition: .6s; }
  .nav-footer .nav-link-mail .default-link {
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0; }
  .nav-footer .nav-link-mail .hover-link {
    opacity: 1;
    transition: .6s; }

#aboutJumbo {
  background-image: url("components/images/church.jpg");
  background-size: cover;
  display: table; }

#aboutUsJumboText {
  margin-left: 27vw;
  margin: 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: white;
  background: none; }

#aboutProfiles {
  display: flex;
  flex-wrap: wrap; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 60px; }
  .card .title {
    color: grey;
    font-size: 18px; }
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black; }
  .card button:hover, .card a:hover {
    opacity: 0.7; }

#ourWorkJumbo {
  background-image: url("components/images/mill.jpg");
  background-size: cover;
  display: table; }

#ourWorkJumboText {
  margin-left: 27vw;
  margin: 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: white;
  background: none; }

#ourClients {
  height: 500px; }

#servicesJumbo {
  background-image: url("components/images/garden.jpg");
  background-size: cover;
  display: table; }

#servicesJumboText {
  margin-left: 27vw;
  margin: 0px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  background: none;
  text-align: center;
  color: white;
  background: none; }

#contactHeader {
  padding: 10px 15px; }
  @media (min-width: 960px) {
    #contactHeader {
      width: 50%; } }

#altContacts {
  padding: 0% 10%; }
