/* html{
  font-family: 'Nunito Sans' !important;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans' !important; }

#innerBody {
  min-height: 100vh;
  margin-top: 91px; }

#navbar {
  margin-bottom: 0px;
  color: red; }

#flag {
  width: 60px;
  height: 40px; }

#lang {
  color: white;
  cursor: pointer;
  float: right;
  min-height: 40px; }

#jumbotronText {
  margin-left: 27vw;
  margin: 0px;
  position: absolute;
  top: 100px;
  z-index: 99;
  color: white;
  font-weight: bold; }

#carImg {
  width: 100%;
  height: 80vh; }

.textBox {
  padding: 10%; }

#columns {
  min-height: 200px; }

.centered {
  text-align: center; }

#footer {
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  color: white;
  text-align: center; }
