/* html{
  font-family: 'Nunito Sans' !important;
} */
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans' !important; }

#innerBody {
  min-height: 100vh;
  margin-top: 91px; }

#carImg, #aboutJumbo, #ourWorkJumbo {
  width: 100%;
  height: 80vh; }

.jumboTextWhite {
  margin-left: 27vw;
  margin: 0px;
  position: absolute;
  top: 100px;
  z-index: 99;
  color: white;
  font-weight: bold; }

.jumboTextBlack {
  margin-left: 27vw;
  margin: 0px;
  position: absolute;
  top: 100px;
  z-index: 99;
  color: black;
  font-weight: bold; }

#navbar {
  margin-bottom: 0px;
  color: red; }

#flag {
  width: 60px;
  height: 40px; }

#lang {
  color: white;
  cursor: pointer;
  float: right;
  min-height: 40px; }

#jumbotronText {
  margin-left: 27vw;
  margin: 0px;
  position: absolute;
  top: 100px;
  z-index: 99;
  color: white;
  font-weight: bold; }

.textBox {
  padding: 7% 10%; }

#columns {
  min-height: 200px; }

.centered {
  text-align: center; }

#footer {
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  color: white;
  text-align: center; }

.nav-footer {
  display: block;
  opacity: 1;
  transition: all .6s ease;
  width: fit-content;
  margin: 0 auto 0 auto;
  padding: 0 1em; }
  .nav-footer:hover .nav-link-footer {
    opacity: .5;
    transform: translateY(6px);
    transition: .6s; }
  .nav-footer #designedLine {
    margin-left: 1.5em; }
  .nav-footer .nav-link-footer {
    display: inline-block;
    position: relative;
    padding: 6px 6px;
    height: 36px;
    width: 36px;
    margin: 0 3px;
    transition: .6s; }
  .nav-footer .nav-link-instagram:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: white;
    border-radius: 50%;
    transition: .6s; }
    .nav-footer .nav-link-instagram:hover .hover-link {
      opacity: 1; }
    .nav-footer .nav-link-instagram:hover .default-link {
      opacity: 0; }
  .nav-footer .nav-link-instagram .default-link {
    position: absolute;
    top: 6px;
    left: 6px; }
  .nav-footer .nav-link-instagram .hover-link {
    opacity: 0;
    transition: .6s; }
  .nav-footer .nav-link-linkedin:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: #0079B3;
    border-radius: 50%;
    transition: .6s; }
  .nav-footer .nav-link-linkedin .default-link {
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0; }
  .nav-footer .nav-link-linkedin .hover-link {
    opacity: 1;
    transition: .6s; }
  .nav-footer .nav-link-mail:hover {
    opacity: 1;
    transform: scale(1.15);
    background-color: maroon;
    border-radius: 50%;
    transition: .6s; }
  .nav-footer .nav-link-mail .default-link {
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0; }
  .nav-footer .nav-link-mail .hover-link {
    opacity: 1;
    transition: .6s; }

#aboutJumbo {
  background-image: url("components/images/church.jpg");
  background-size: cover; }

#aboutProfiles {
  display: flex;
  flex-wrap: wrap; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 60px; }
  .card .title {
    color: grey;
    font-size: 18px; }
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; }
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black; }
  .card button:hover, .card a:hover {
    opacity: 0.7; }

#ourWorkJumbo {
  background-image: url("components/images/mill.jpg");
  background-size: cover; }

#ourClients {
  height: 500px; }

#contactHeader {
  padding: 10px 15px; }
  @media (min-width: 960px) {
    #contactHeader {
      width: 50%; } }

#altContacts {
  padding: 0% 10%; }
